.button {
  width: 278px;
  min-height: 25%;
  background: #f0cf29;
  font-size: 1.9em;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  @media all and (max-width: 550px) {
    display: block;
    margin-left: 0;
    width: 180px;
    font-size: 1em;
    min-height: 22%;
  }

  // scale: 70%;
  &:hover {
    background: #a3de61;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  &:active {
    transform: translateY(1px);
  }
}
