.authBlock {
  .inputBlock {
    background: #949987b2;
    width: 609px;
    height: 77px;
    display: flex;
    justify-content: space-between;
    .inputBlockLogo {
    }
    .inputBlockInp {
    }
  }
}
