.splittedInput {
  display: flex;
  width: 100%;
  $border: 1px solid rgba(0, 0, 0, 0.2);
  border: $border;
  border-radius: 10px;

  .left,
  .right {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    font-size: 0.8em;

    .label {
      color: #9999a9;
      font-weight: 600;
    }

    input {
      border: unset;
      outline: none;
      width: 100%;
    }
  }

  .left {
    border-right: $border;
  }

  .right {
    border-left: $border;
  }
}
