.mainPage {
  width: 100%;
  height: 100vh;

  .mainPageCard {
    width: 100%;
    height: 70%;

    .mainPageCardDiv {
      height: 100%;
      margin: 35px auto auto auto;
      width: fit-content;
      display: flex;
      justify-content: space-between;
      background: #fffced;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 246px 98px rgba(45, 108, 56, 0.01),
        0px 138px 83px rgba(45, 108, 56, 0.05), 0px 62px 62px rgba(45, 108, 56, 0.09),
        0px 15px 34px rgba(45, 108, 56, 0.1), 0px 0px 0px rgba(45, 108, 56, 0.1);
      border-radius: 49px;

      padding: 38px 38px;

      .mainPageCardLeft {
        height: 100%;
        margin-right: auto;
        .picBG {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: 50% 50%;
        }
      }

      .mainPageCardRight {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 5px 30px;

        .search_block {
          display: flex;
          flex-direction: column;

          .searchInp_stick {
            width: 529px;
            height: 5px;
            background: #949987;
            border-radius: 50px;
          }
        }

        .category_block {
          width: 100%;
          margin-top: auto;
          .category_block_title {
            display: flex;
            justify-content: space-between;
            font-style: normal;
            font-weight: 600;
            font-size: 35px;
            line-height: 47px;
            text-align: start;
            color: #000000;
          }
          .categories {
            display: flex;
            justify-content: space-around;

            &:hover {
              cursor: pointer;
            }

            .categoriesBlock {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              min-width: 20%;
              font-size: 1.5em;
              line-height: 1.55em;

              .activedCategory {
                font-style: normal;
                font-weight: 500;
                color: #a3de61;
              }

              .category {
                font-style: normal;
                font-weight: 500;
                color: #000000;
              }

              .categoryStickActive {
                width: calc(100% + 20px);
                height: 5px;
                background: #a3de61;
                border-radius: 50px;
              }
            }
          }

          .imageCards {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 5%;

            div {
              margin: 0;
            }
          }
        }

        .more {
          text-decoration-line: underline;
          color: #949987;
          margin-left: auto;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
