.inputBlockInp {
  height: 60px;
  width: 450px;
  background: none;
  border: none;
  scale: 50%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 42px;
  display: flex;
  align-items: center;
  font-variant: all-small-caps;
  color: #d7d4c7;
  outline: none;
  &::placeholder {
    color: #d7d4c7;
  }
}
