@use '/src/assets/fonts/Impact/Impact.module.scss';

.header {
  top: 0;
  padding: 20px 40px;
  background: #fffced;

  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;

  $tabmargin: 20px;

  .leftHeader {
    margin-right: auto;
    .tab {
      margin-right: $tabmargin;
    }
  }

  .rightHeader {
    margin-left: auto;
    .tab,
    .map {
      margin-left: $tabmargin;
    }
  }

  .leftHeader,
  .rightHeader {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tab {
    font-size: 125%;
    color: #333a22;
    &:hover {
      cursor: pointer;
    }
  }

  .title {
    font-family: 'Impact', sans-serif;
    text-transform: uppercase;
    font-size: 250%;
    letter-spacing: 0.1em;
    color: black;
  }

  .map {
    height: 2.5em;
  }
}
