.dataplaceFilter {
  display: flex;
  background: #eeeef2;
  align-items: center;
  border-radius: 12px;
  width: 460px;
  margin-bottom: 20px;

  .dataplaceFilter_horiz_stick {
    height: 32px;
    background: #d1d7e8;
  }
}
