.placeFilter {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);

  .placeFilter_img {
    height: 16px;
    @media all and (max-width: 440px) {
      height: 10px;
    }
  }

  .placeFilter_inp {
    outline: none;
    border: none;
    background: transparent;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #9999a9;

    &::placeholder {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      color: #9999a9;
      @media all and (max-width: 440px) {
        font-size: 10px;
      }
    }
    @media all and (max-width: 440px) {
      max-width: 90px;
      font-size: 10px;
    }
  }
}
