.placeFilter {
  display: flex;
  align-items: center;
  padding: 0 1%;
  width: 250px;
  height: 55px;
  // background: #eeeef2;
  // border-radius: 12px 0px 0px 12px;
  .placeFilter_img {
    width: 16px;
    height: 16px;
  }
  .placeFilter_inp {
    outline: none;
    border: none;
    background: transparent;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #9999a9;
    &::placeholder {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      color: #9999a9;
    }
  }
}
