.filterHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #ffffff;
  padding: 30px 50px;
  .filterHeader_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // overflow: hidden;
    // overflow-x: scroll;
    // box-sizing: content-box;
    // scrollbar-color: none;
  }
}
