@use './assets/fonts/Roboto/Roboto.module.scss';

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(60deg, #a3de61 13.4%, #f0cf29 86.6%);
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
